.site-header{
	border-top: none;
}


body{
	transition: 1s ease;
}

.site-title, .site-title:visited{
	color: $text-color !important;
}


.flex-container{
	display:flex;
	justify-content: space-between;
	//justify-content: center;
  	align-items: center;
}

.thumbnail{
	padding: 15px;
	position:relative;
	opacity: 1;
	transition: .5s ease;
	width:30%;
	// border-style: solid;
 //  	border-width: 1px;
 //  	border-color: #ffffff;
}

@media screen and (max-width: 600px) {
	.site-nav{
		background-color: #2c2c2c !important;
		z-index: 10;
	}
	.site-nav .menu-icon > svg {
		fill: white !important;
	}

	.thumbnail{
		width:70%;
	}
}

.hover-show{
    height: 100%;
    width: 100%;
	background-color: black;
	opacity: 0;
	transition: .3s ease;
	position:absolute;
	top:0;
	left: 0;

}

.thumbnail:hover .hover-show {
  opacity: 0.5;
}

.hover-show p{
	position:absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

// .hover-show p{
// 	position:absolute;
// 	bottom:1.6em;
// 	left: 5px;
// }


//Art piece

// h1, p, time {
// 	padding-left: 10px;
// }

video.embedded {
	width: 100%;
	// padding-left: 5%;
}

// iframe {
// 	width: 100%;
// }

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


.articlebg {
	background-color: #0000005c;
	padding-top: 10px;
	padding-bottom: 10px;
}

.bg-video{
	position:fixed;
	left: 50%;
    transform: translateX(-50%);
    top:0;
    height: 100vh;
	z-index: -1;
}


figcaption p {
	margin-bottom: 0px;
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;
}

.center-fit{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 100%;
}

.float-right{
	float: right;
	max-width: 50%;
}

@media (max-width: 750px) {

	.float-right{
		float: none;
		max-width: 90%;
		padding-left: 5%;
	}

	.center-fit{

	}

	.flex-container {
		flex-direction: column;
	}
}